{% extends "blog/base.html " %}
{% block content %}
<div class="button-group">
    <a href="{% url 'blog-inventory-bebidas' %}" class="btn btn-outline-primary btn-md" role="button">Bebidas</a>
    <a href="{% url 'blog-inventory-add-bebidas' %}" class="btn btn-outline-warning btn-sm" role="button">Add</a>

    <a href="{% url 'blog-inventory-alimentos' %}" class="btn btn-outline-success btn-md" role="button">Alimentos</a>
    <a href="{% url 'blog-inventory-add-alimentos' %}" class="btn btn-outline-warning btn-sm" role="button">Add</a>

    <a href="{% url 'blog-inventory-accesorios' %}" class="btn btn-outline-danger btn-md" role="button">Accesorios</a>
    <a href="{% url 'blog-inventory-add-accesorios' %}" class="btn btn-outline-warning btn-sm" role="button">Add</a>

    <a href="{% url 'blog-inventory-limpieza' %}" class="btn btn-outline-secondary btn-md" role="button">Limpieza</a>
    <a href="{% url 'blog-inventory-add-limpieza' %}" class="btn btn-outline-warning btn-sm" role="button">Add</a>
</div>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Model</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Issues</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.type }}</td>
            <td>Q{{ item.price }}</td>
            <td>{{ item.status}}</td>
            <td>{{ item.issues }}</td>
            {% if header == "Bebidas" %}
            <td>
                <a href="{% url 'blog-inventory-edit-bebidas' item.pk %}" class="btn btn-warning btn-sm"
                    role="button">Edit</a>
                <a href="{% url 'blog-inventory-delete-bebidas' item.pk %}" class="btn btn-danger btn-sm"
                    role="button">Delete</a>
            </td>
            {% elif header == "Alimentos" %}
            <td>
                <a href="{% url 'blog-inventory-edit-alimentos' item.pk %}" class="btn btn-warning btn-sm"
                    role="button">Edit</a>
                <a href="{% url 'blog-inventory-delete-alimentos' item.pk %}" class="btn btn-danger btn-sm"
                    role="button">Delete</a>
            </td>
            {% elif header == "Accesorios" %}
            <td>
                <a href="{% url 'blog-inventory-edit-accesorios' item.pk %}" class="btn btn-warning btn-sm"
                    role="button">Edit</a>
                <a href="{% url 'blog-inventory-delete-accesorios' item.pk %}" class="btn btn-danger btn-sm"
                    role="button">Delete</a>
            </td>
            {% else %}
            <td>
                <a href="{% url 'blog-inventory-edit-limpieza' item.pk %}" class="btn btn-warning btn-sm"
                    role="button">Edit</a>
                <a href="{% url 'blog-inventory-delete-limpieza' item.pk %}" class="btn btn-danger btn-sm"
                    role="button">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}